[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
Environment=NODE_ENV=production
WorkingDirectory=/var/www/smartcontroller/server
ExecStart=/usr/local/bin/gunicorn -b :8001 server.wsgi
StandardOutput=append:/var/log/smartcontroller.log
StandardError=append:/var/log/smartcontroller.error.log

[Install]
WantedBy=multi-user.target