<nav class="navbar navbar-dark bg-dark">
    <div class="col-4" style="padding-left: 0px;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white"
                    [routerLink]="vars.backRoute"
                    *ngIf="vars.backRoute && vars.backRoute.length"
                    [queryParams]="vars.params">
                    <fa-icon [icon]="faBack" size="lg"></fa-icon>
                </a>
            </li>
        </ul>
    </div>

    <div class="col-4 text-center" style="padding-right: 0px;">
        <div class="navbar-brand" ngbDropdown *ngIf="vars.node">
          <div class="clickable" ngbDropdownToggle *ngIf="vars.node.devices.length > 1">{{vars.title}}</div>
          <div *ngIf="vars.node.devices.length <= 1">{{vars.title}}</div>
          <div ngbDropdownMenu class="bg-dark" aria-labelledby="quickMenu" *ngIf="vars.node.devices.length > 1">
            <ng-container *ngFor="let device of vars.node.devices">
              <button ngbDropdownItem
                class="btn-lg"
                *ngIf="vars.device.id != device.id"
                [routerLink]="['/devices', device.id]"
              >
                {{device.name}}
              </button>
            </ng-container>
          </div>
        </div>
        <div class="navbar-brand" *ngIf="!vars.node">{{vars.title}}</div>
    </div>

    <div class="col-4 text-right" style="padding-right: 0px;">
        <ul class="navbar-nav flex-row justify-content-end">
            <li class="nav-item m-r-15">
                <app-navbar-weather></app-navbar-weather>
            </li>
            <li class="nav-item m-r-15">
              <div ngbDropdown container="body" display="dynamic" placement="bottom-right">
                <a class="nav-link text-white no-caret"
                  tabindex="0"
                  ngbDropdownToggle
                  id="settingsMenu"
                  role="button"
                >
                  <fa-icon [icon]="faCog" size="lg"></fa-icon>
                </a>
                <div class="bg-dark dropdown-menu" ngbDropdownMenu aria-labelledby="settingsMenu">
                  <button ngbDropdownItem
                    class="btn-lg"
                    [routerLink]="['/settings']"
                  >
                    Settings
                  </button>
                  <button ngbDropdownItem
                    class="btn-lg"
                    *ngIf="showClose"
                    (click)="closeApp()"
                  >
                    Close
                  </button>
                </div>
              </div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white"
                    [routerLink]="['/home']"
                    *ngIf="vars.backRoute && vars.backRoute.length">
                    <fa-icon [icon]="faHome" size="lg"></fa-icon>
                </a>
            </li>
        </ul>
    </div>
</nav>
