<a class="nav-link text-white" [routerLink]="['/weather']" *ngIf="weatherData.current && apiKeySet && !weatherLoading">
  <div class="d-flex">
    <div class="m-r-7"><fa-icon [icon]="currentIcon" class="weather-icon"></fa-icon></div>
    <div>{{ weatherData.current.temp | number: '1.0-0' }}&deg;</div>
  </div>
</a>

<a class="nav-link text-white" *ngIf="!apiKeySet && !weatherLoading">
  <div class="d-flex">
    <fa-icon [icon]="faCloud"
      size="lg"
      [styles]="{'color': 'red'}"
      [autoClose]="'outside'"
      ngbTooltip="Weather API key not set. Please go to settings."
    >
    </fa-icon>
  </div>
</a>

<a class="nav-link text-white" *ngIf="weatherLoading">
  <div class="d-flex">
    <fa-icon [icon]="faSpinner"
      size="lg"
      [spin]="true"
      ngbTooltip="Weather data loading..."
    >
    </fa-icon>
  </div>
</a>
